In [1]:
import pandas as pd
import numpy as np
import os
import glob
from datetime import datetime

In [2]:

def getFileNames(path:str):
    files = []
    for file in os.scandir(path):
        if file.is_file():
            if file.name.endswith('.csv'):
                files.append(file.name)
                files.sort()
    return files

def joinCSV(path:str, files:list):
    df = pd.read_csv(path+files[0])
    print(df.shape)
    files.pop(0)

    for e in files:
        print(f'Using file: {e}')
        df2 = pd.read_csv(path+e)
        df = pd.concat([df,df2], ignore_index = True)
        print(df.shape)
    print(df.shape)
    return df

def joinDF(l:list):
    df = l[0]
    print(df.shape)
    l.pop(0)

    for e in l:
        df = pd.concat([df, e], ignore_index = True)
        print(df.shape)
    
    return df

def getPrefix(l:str):
    return l[0]

def idGenerator(df, prefix:str):
   print('idGenerator')
   for e in range(len(df)):
       df['id'] = prefix+df.iloc[:, 0]
   return df
        
def getDF(path:str, name:str):
    df = pd.read_csv(path+name)
    prefix = getPrefix(name)
    print(prefix)
    a = idGenerator(df, prefix)
    return a

def convert2date(date:str):
    try:
        months = {
            'january'   : '01',
            'february'  : '02',
            'march'     : '03',
            'april'     : '04',
            'may'       : '05',
            'june'      : '06',
            'july'      : '07',
            'august'    : '08',
            'septemeber': '09',
            'october'   : '10',
            'november'  : '11',
            'december'  : '12',
        }
        splt = date.split(' ')
        m = months[splt[0].lower()]
        d = splt[1]
        a = splt[2]
        date = a + '-' + m + '-' + d
        
        return date
    except:
        'null value'

In [3]:
path = r'models/ratings/'
files = getFileNames(path)
files

['1.csv',
 '2.csv',
 '3.csv',
 '4.csv',
 '5.csv',
 '6.csv',
 '7.csv',
 '8.csv',
 'scores.csv']

In [5]:
df = joinCSV(path, files)
print(df.tail())

(1500000, 4)
Using file: 2.csv
(3000000, 4)
Using file: 3.csv
(4500000, 4)
Using file: 4.csv
(6000000, 4)
Using file: 5.csv
(7500000, 4)
Using file: 6.csv
(9000000, 4)
Using file: 7.csv
(9524289, 4)
Using file: 8.csv
(11024289, 4)
(11024289, 4)
          userId  rating   timestamp movieId
11024284  124380     4.5  1196786159  ns5272
11024285  124380     2.5  1196786030  ns5492
11024286  124380     3.5  1196785679   hs305
11024287  124380     4.5  1196787089  ns7881
11024288  124380     1.5  1196785847   as883

In [6]:
df

          userId  rating   timestamp movieId
0              1     1.0  1425941529   as680
1              1     4.5  1425942435  ns2186
2              1     5.0  1425941523  hs2381
3              1     5.0  1425941546  ns3663
4              1     5.0  1425941556  as9500
...          ...     ...         ...     ...
11024284  124380     4.5  1196786159  ns5272
11024285  124380     2.5  1196786030  ns5492
11024286  124380     3.5  1196785679   hs305
11024287  124380     4.5  1196787089  ns7881
11024288  124380     1.5  1196785847   as883

[11024289 rows x 4 columns]

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11024289 entries, 0 to 11024288
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   rating     float64
 2   timestamp  int64
 3   movieId    object
dtypes: float64(1), int64(2), object(1)
memory usage: 336.4+ MB

In [8]:
df.rename(columns={'rating':'score'}, inplace=True)
df

          userId  score   timestamp movieId
0              1    1.0  1425941529   as680
1              1    4.5  1425942435  ns2186
2              1    5.0  1425941523  hs2381
3              1    5.0  1425941546  ns3663
4              1    5.0  1425941556  as9500
...          ...    ...         ...     ...
11024284  124380    4.5  1196786159  ns5272
11024285  124380    2.5  1196786030  ns5492
11024286  124380    3.5  1196785679   hs305
11024287  124380    4.5  1196787089  ns7881
11024288  124380    1.5  1196785847   as883

[11024289 rows x 4 columns]

In [9]:
def tstamp_2_date(t:str):
    return datetime.fromtimestamp(t).date()

for i, e in enumerate(df['timestamp']):
    df['timestamp'][i] = tstamp_2_date(e)

/tmp/ipykernel_19079/3222796832.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['timestamp'][i] = tstamp_2_date(e)

In [11]:
df.head()

   userId  score   timestamp movieId
0       1    1.0  2015-03-09   as680
1       1    4.5  2015-03-09  ns2186
2       1    5.0  2015-03-09  hs2381
3       1    5.0  2015-03-09  ns3663
4       1    5.0  2015-03-09  as9500

---
# TRANSFORMATIONS TO THE STREAMING PLATFORMS DATA-SETS

In [9]:
path = r'./'
streamPlatforms = getFileNames(path)
streamPlatforms

['amazon_prime_titles.csv',
 'disney_plus_titles.csv',
 'hulu_titles.csv',
 'netflix_titles.csv']

## Adding the new Id

In [10]:
# en esta lista se almacenaran los df de cada plataforma
platforms = []

In [11]:
# se genera el dataframe con los datos correspondientes a Amazon
Amazon = getDF(path, streamPlatforms[0])
platforms.append(Amazon) # se agrega a la lista anteriormente mencionada

a
idGenerator

In [12]:
# se genera el dataframe con los datos correspondientes a Disney
Disney_plus = getDF(path, streamPlatforms[1])
platforms.append(Disney_plus)

d
idGenerator

In [13]:
# se genera el dataframe con los datos correspondientes a Hulu
Hulu = getDF(path, streamPlatforms[2])
platforms.append(Hulu)

h
idGenerator

In [14]:
# se genera el dataframe con los datos correspondientes a Netfix
Netflix = getDF(path, streamPlatforms[3])
platforms.append(Netflix)

n
idGenerator

### Joining the stream platforms data-sets

In [66]:
# se unen los datos de las plataformas en un solo dataframe
SP_dataset = joinDF([Amazon, Disney_plus, Hulu, Netflix])
SP_dataset

(9668, 13)
(11118, 13)
(14191, 13)
(22998, 13)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,id
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...,as1
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...,as2
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...,as3
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, BeyoncÃ©, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ...",as4
4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...,as5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
22993,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a...",ns8803
22994,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g...",ns8804
22995,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...,ns8805
22996,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero...",ns8806
22997,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,ns8807

## Filling the missing values from rating

In [67]:
print(SP_dataset['rating'].isna().sum())
SP_dataset['rating'].replace(np.NaN, 'G', inplace=True)
print(SP_dataset['rating'].isna().sum())

864
0

## Formatting the date (AAAA-mm-dd)

In [68]:
for i, e in enumerate(SP_dataset['date_added']):
    SP_dataset['date_added'].iloc[i] = convert2date(e)

/tmp/ipykernel_3319/669780489.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  SP_dataset['date_added'].iloc[i] = convert2date(e)

In [69]:
SP_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22998 entries, 0 to 22997
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       22998 non-null  object
 1   type          22998 non-null  object
 2   title         22998 non-null  object
 3   director      14739 non-null  object
 4   cast          17677 non-null  object
 5   country       11499 non-null  object
 6   date_added    12161 non-null  object
 7   release_year  22998 non-null  int64
 8   rating        22998 non-null  object
 9   duration      22516 non-null  object
 10  listed_in     22998 non-null  object
 11  description   22994 non-null  object
 12  id            22998 non-null  object
dtypes: int64(1), object(12)
memory usage: 2.3+ MB

## Duration formatting

`duration_int`  -> the duration itself of the show

`duration_type` -> identify if its season or minutes

In [70]:
SP_dataset.insert(loc = 9,
                  column ='duration_int', 
                  value = 0)
SP_dataset.insert(loc = 9, 
                  column ='duration_type', 
                  value = np.NaN)

In [71]:
SP_dataset.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration_type,duration_int,duration,listed_in,description,id
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,2021-03-30,2014,G,NaN,0,113 min,"Comedy, Drama",A small fishing village must procure a local d...,as1
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,2021-03-30,2018,13+,NaN,0,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...,as2
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,2021-03-30,2017,G,NaN,0,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...,as3
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, BeyoncÃ©, Britney...",United States,2021-03-30,2014,G,NaN,0,69 min,Documentary,"Pink breaks the mold once again, bringing her ...",as4
4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,2021-03-30,1989,G,NaN,0,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...,as5

In [72]:
SP_dataset['duration']
    
for i, e in enumerate(SP_dataset['duration']):
    
    if  type(e) == str:
        e = e.split(' ')
        SP_dataset['duration_type'][i] = e[1]
        SP_dataset['duration_int'][i] = int(int(e[0]))
                                                
SP_dataset

/tmp/ipykernel_3319/541628177.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  SP_dataset['duration_type'][i] = e[1]
/tmp/ipykernel_3319/541628177.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  SP_dataset['duration_int'][i] = int(int(e[0]))

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration_type,duration_int,duration,listed_in,description,id
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,2021-03-30,2014,G,min,113,113 min,"Comedy, Drama",A small fishing village must procure a local d...,as1
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,2021-03-30,2018,13+,min,110,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...,as2
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,2021-03-30,2017,G,min,74,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...,as3
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, BeyoncÃ©, Britney...",United States,2021-03-30,2014,G,min,69,69 min,Documentary,"Pink breaks the mold once again, bringing her ...",as4
4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,2021-03-30,1989,G,min,45,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...,as5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22993,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,2019-11-20,2007,R,min,158,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a...",ns8803
22994,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,2019-07-01,2018,TV-Y7,Seasons,2,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g...",ns8804
22995,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,2019-11-01,2009,R,min,88,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...,ns8805
22996,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,2020-01-11,2006,PG,min,88,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero...",ns8806
22997,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,2019-03-02,2015,TV-14,min,111,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,ns8807

In [73]:
SP_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22998 entries, 0 to 22997
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   show_id        22998 non-null  object
 1   type           22998 non-null  object
 2   title          22998 non-null  object
 3   director       14739 non-null  object
 4   cast           17677 non-null  object
 5   country        11499 non-null  object
 6   date_added     12161 non-null  object
 7   release_year   22998 non-null  int64
 8   rating         22998 non-null  object
 9   duration_type  22516 non-null  object
 10  duration_int   22998 non-null  int64
 11  duration       22516 non-null  object
 12  listed_in      22998 non-null  object
 13  description    22994 non-null  object
 14  id             22998 non-null  object
dtypes: int64(2), object(13)
memory usage: 2.6+ MB

## Lowercasing everything

In [74]:
f = SP_dataset.columns

for e in f:
    try:
        SP_dataset[e] = SP_dataset[e].str.lower()
    except:
        print('null value')

null value
null value
null value

In [75]:
SP_dataset

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration_type,duration_int,duration,listed_in,description,id
0,s1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,min,113,113 min,"comedy, drama",a small fishing village must procure a local d...,as1
1,s2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,min,110,110 min,"drama, international",a metro family decides to fight a cyber crimin...,as2
2,s3,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,g,min,74,74 min,"action, drama, suspense",after a man discovers his wife is cheating on ...,as3
3,s4,movie,pink: staying true,sonia anderson,"interviews with: pink, adele, beyoncÃ©, britney...",united states,2021-03-30,2014,g,min,69,69 min,documentary,"pink breaks the mold once again, bringing her ...",as4
4,s5,movie,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,2021-03-30,1989,g,min,45,45 min,"drama, fantasy",teenage matt banting wants to work with a famo...,as5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22993,s8803,movie,zodiac,david fincher,"mark ruffalo, jake gyllenhaal, robert downey j...",united states,2019-11-20,2007,r,min,158,158 min,"cult movies, dramas, thrillers","a political cartoonist, a crime reporter and a...",ns8803
22994,s8804,tv show,zombie dumb,NaN,NaN,NaN,2019-07-01,2018,tv-y7,seasons,2,2 seasons,"kids' tv, korean tv shows, tv comedies","while living alone in a spooky town, a young g...",ns8804
22995,s8805,movie,zombieland,ruben fleischer,"jesse eisenberg, woody harrelson, emma stone, ...",united states,2019-11-01,2009,r,min,88,88 min,"comedies, horror movies",looking to survive in a world taken over by zo...,ns8805
22996,s8806,movie,zoom,peter hewitt,"tim allen, courteney cox, chevy chase, kate ma...",united states,2020-01-11,2006,pg,min,88,88 min,"children & family movies, comedies","dragged from civilian life, a former superhero...",ns8806
22997,s8807,movie,zubaan,mozez singh,"vicky kaushal, sarah-jane dias, raaghav chanan...",india,2019-03-02,2015,tv-14,min,111,111 min,"dramas, international movies, music & musicals",a scrappy but poor boy worms his way into a ty...,ns8807

# Re-Ordering the columns and dropping

In [76]:
temp = SP_dataset.pop('id')
SP_dataset.insert(0, temp.name, temp)
SP_dataset

,id,show_id,type,title,director,cast,country,date_added,release_year,rating,duration_type,duration_int,duration,listed_in,description
0,as1,s1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,min,113,113 min,"comedy, drama",a small fishing village must procure a local d...
1,as2,s2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,min,110,110 min,"drama, international",a metro family decides to fight a cyber crimin...
2,as3,s3,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,g,min,74,74 min,"action, drama, suspense",after a man discovers his wife is cheating on ...
3,as4,s4,movie,pink: staying true,sonia anderson,"interviews with: pink, adele, beyoncÃ©, britney...",united states,2021-03-30,2014,g,min,69,69 min,documentary,"pink breaks the mold once again, bringing her ..."
4,as5,s5,movie,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,2021-03-30,1989,g,min,45,45 min,"drama, fantasy",teenage matt banting wants to work with a famo...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22993,ns8803,s8803,movie,zodiac,david fincher,"mark ruffalo, jake gyllenhaal, robert downey j...",united states,2019-11-20,2007,r,min,158,158 min,"cult movies, dramas, thrillers","a political cartoonist, a crime reporter and a..."
22994,ns8804,s8804,tv show,zombie dumb,NaN,NaN,NaN,2019-07-01,2018,tv-y7,seasons,2,2 seasons,"kids' tv, korean tv shows, tv comedies","while living alone in a spooky town, a young g..."
22995,ns8805,s8805,movie,zombieland,ruben fleischer,"jesse eisenberg, woody harrelson, emma stone, ...",united states,2019-11-01,2009,r,min,88,88 min,"comedies, horror movies",looking to survive in a world taken over by zo...
22996,ns8806,s8806,movie,zoom,peter hewitt,"tim allen, courteney cox, chevy chase, kate ma...",united states,2020-01-11,2006,pg,min,88,88 min,"children & family movies, comedies","dragged from civilian life, a former superhero..."
22997,ns8807,s8807,movie,zubaan,mozez singh,"vicky kaushal, sarah-jane dias, raaghav chanan...",india,2019-03-02,2015,tv-14,min,111,111 min,"dramas, international movies, music & musicals",a scrappy but poor boy worms his way into a ty...

In [77]:
del SP_dataset['duration']
del SP_dataset['show_id']
SP_dataset

,id,type,title,director,cast,country,date_added,release_year,rating,duration_type,duration_int,listed_in,description
0,as1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,min,113,"comedy, drama",a small fishing village must procure a local d...
1,as2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,min,110,"drama, international",a metro family decides to fight a cyber crimin...
2,as3,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,g,min,74,"action, drama, suspense",after a man discovers his wife is cheating on ...
3,as4,movie,pink: staying true,sonia anderson,"interviews with: pink, adele, beyoncÃ©, britney...",united states,2021-03-30,2014,g,min,69,documentary,"pink breaks the mold once again, bringing her ..."
4,as5,movie,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,2021-03-30,1989,g,min,45,"drama, fantasy",teenage matt banting wants to work with a famo...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
22993,ns8803,movie,zodiac,david fincher,"mark ruffalo, jake gyllenhaal, robert downey j...",united states,2019-11-20,2007,r,min,158,"cult movies, dramas, thrillers","a political cartoonist, a crime reporter and a..."
22994,ns8804,tv show,zombie dumb,NaN,NaN,NaN,2019-07-01,2018,tv-y7,seasons,2,"kids' tv, korean tv shows, tv comedies","while living alone in a spooky town, a young g..."
22995,ns8805,movie,zombieland,ruben fleischer,"jesse eisenberg, woody harrelson, emma stone, ...",united states,2019-11-01,2009,r,min,88,"comedies, horror movies",looking to survive in a world taken over by zo...
22996,ns8806,movie,zoom,peter hewitt,"tim allen, courteney cox, chevy chase, kate ma...",united states,2020-01-11,2006,pg,min,88,"children & family movies, comedies","dragged from civilian life, a former superhero..."
22997,ns8807,movie,zubaan,mozez singh,"vicky kaushal, sarah-jane dias, raaghav chanan...",india,2019-03-02,2015,tv-14,min,111,"dramas, international movies, music & musicals",a scrappy but poor boy worms his way into a ty...